* {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  outline: none !important;
}

/* Common styles */

.title {
  text-align: center;
  color: #061e37;
  font-weight: 600;
  font-size: 45px;
}

.subtitle {
  text-align: center;
  color: #b0bec5;
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
}

.descr {
  color: #b0bec5;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  width: 555px;
  margin: 0 auto;
  margin-top: 25px;
}

a:hover {
  text-decoration: none;
}

.container {
  padding: 0 80px;
}

/* promo-section */

.promo {
  min-height: 750px;
  background: url(../img/bg/promo-bg.png) center center/cover no-repeat;
  padding: 50px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo__wrap {
  display: flex;
  align-items: center;
}

.logo__wrap img {
  margin-right: 10px;
}

.logo__text {
  width: 140px;
  height: 26px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
}

.logo__text > span {
  font-weight: 700;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin: 0 25px;
  opacity: 0.85;
  transition: all 0.3s linear;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.nav__item:hover {
  opacity: 1;
  transform: translate(3px, 3px);
}

.nav__item > a {
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s linear;
}

.nav__item > a:hover {
  color: #061e37;
}

.promo__sign > button {
  padding: 6px 20px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.promo__sign > button:hover {
  background-color: #ffffff;
  color: #061e37;
}

.promo__content {
  display: flex;
  margin-top: 167px;
  justify-content: space-between;
  align-items: center;
}

.promo__title {
  color: white;
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  text-transform: uppercase;
}

.promo__descr {
  color: #ffffff;
  font-size: 18px;
  line-height: 35px;
  opacity: 0.85;
}

.promo__btns {
  margin-top: 38px;
}

.promo__btn {
  width: 150px;
  height: 55px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.promo__btn_black {
  background-color: #061e37;
  color: #ffffff;
  margin-right: 30px;
}


.promo__btn_white {
  background-color: #ffffff;
  color: #061e37;
}

.promo__text {
  width: 45%;
}

.promo__video {
  position: relative;
}

.promo__video > video {
  border-radius: 5px;
}

.promo__play {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  width: 150px;
  text-align: center;
  color: #061e37;
  font-size: 10px;
  font-weight: 700;
}

.promo__play > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #061e37;
  cursor: pointer;

}

.promo__play > div > i {
  color: white;
}




/*Section useful*/


.useful {
  padding: 100px 0;
  min-height: 800px;
}

.useful__content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.useful__item {
  width: 27%;
}

.useful__title {
  font-weight: 700;
  color: #061e37;
  line-height: 25px;
  font-size: 20px;
  text-align: center;
}

.useful__text {
  color: #78909c;
  line-height: 20px;
  text-align: center;
}

.useful__icon {
  text-align: center;
  margin-bottom: 45px;
}

.useful__icon > i {
  font-size: 50px;
}

/*Icons colors*/

.fa-calendar-alt {
  color: #b388ff;
}

.fa-user {
  color: #80d8ff;
}

.fa-dragon {
  color: #7e0d0d;
}

.useful__btn {
  display: block;
  width: 150px;
  height: 55px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #1de9b6;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  color: white;
  margin: 100px auto;
  transition: all 0.5s ease;
}

.useful__btn:hover {
  color: #ffffff;
  background-color: #061e37;
}


/*Services section*/

.services {
  padding: 100px;
  min-height: 900px;
}

.service__content {
  margin-top: 48px;
}

.tabs__item {
  width: 800px;
  height: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  margin: 0 auto 20px auto;
  padding: 0 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.7s ease;
  cursor: pointer;
}

.tabs__item_active {
  height: 250px;
}

.tabs__head {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.tabs__icon > i {
  font-size: 20px;
  color: #061e37;
}

.tabs__down {
  color: #061e37;
  font-size: 25px;
}

.tabs__title {
  color: #061e37;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 25px;
}

.tabs__wrap {
  display: flex;
  align-items: center;
}

.tabs__content {
  display: flex;
  align-items: center;
}

.tabs__img {
  width: 35%;
  height: 155px;
  background: url("../img/tabs/tabimg.png") center center/cover no-repeat;
  border-radius: 5px;
  margin-right: 25px;
}

.tabs__text {
  width: 63%;
  color: #061e37;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.45px;
}


/* Section comment */

.comment {
  min-height: 564px;
  padding: 87px 0;
  background: url(../img/bg/comment-bg.png) center center/cover no-repeat;
}

.comment__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment__title {
  color: white;
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;
  width: 515px;
}

.comment__descr {
  color: white;
  line-height: 25px;
  margin-top: 19px;
}

.comment__btn {
  width: 150px;
  height: 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #061e37;
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 78px;
  border: none;
  transition: all 0.5s ease;
}

.comment__btn:hover {
  background-color: white;
  color: #061e37;
}


.comment__icon {
  width: 60px;
  height: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  margin-right: 50px;
}

.comment__item {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.comment__content {
  width: 650px;
  min-height: 160px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: white;
  padding: 30px;
}

.comment__name {
  color: #061e37;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.comment__text {
  margin-top: 20px;
  color: #78909c;
  font-weight: 400;
  line-height: 25px;
  font-style: italic;
}


/* Our team section */

.team {
  min-height: 760px;
  padding: 100px 0 90px 0;
}

.team__content {
  margin-top: 98px;
}

/*Carousel item*/

.carousel {
  width: 850px;
  margin: 0 auto;
  position: relative;
}

.carousel__name {
  color: #061e37;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
}

.carousel__text {
  color: #90a4ae;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}

.carousel__links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.carousel__links > a {
  margin: 0 20px;
}


.carousel__links i {
  color: #90a4ae;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.carousel__image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 auto 60px auto;
}

.carousel__arrow {
  position: absolute;
  top: 20%;
  cursor: pointer;
}

.carousel__arrow i {
  font-size: 60px;

}

.carousel__prev {
  left: 0;
  z-index: 1;
}

.carousel__next {
  right: 0;
}


/* Footer section*/

.footer {
  min-height: 300px;
  padding: 100px 0;
  background-color: #061e37;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
}

.footer__submenu {
  display: flex;
  align-items: center;
}

.footer__submenu a {
  opacity: 0.5;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__submenu div {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 20px;
}

.footer__links i {
  opacity: 0.2;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  /* Text style for "" */
  letter-spacing: 0.6px;
}

.footer__links a {
  margin-left: 16px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}


/* Popup window */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;

}

.popup__active {
  display: flex;
}


.popup__wrap {
  padding: 50px;
  background-color: white;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 12px 0 black;
  position: relative;
}

.popup__close {
  position: absolute;
  font-size: 30px;
  opacity: 0.7;
  top: 10px;
  right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popup__close:hover {
  opacity: 1;
}












